body
{
	margin: 0;
	padding: 0;
	background: #f5f6fa;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav
{
	color:#54a0ff;
	list-style: none;
	text-align: left;
	padding: 10 0 10 0px;
}

.nav > li
{
 display: inline-block;
 padding-right: 30px;
 padding-top: 20px;
}
.nav > li > a 
{
	font-size: 13px;
	text-decoration: underline;
	color: #54a0ff;
}
.nav > li > a:hover
{
	color:#2e86de;
}
.search-box{
	position: absolute;
	top: 5%;
	left: 82.5%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height:30px;
	border-radius: 10px;
	padding: 5px;
}

.search-box:hover > .search-txt{
width: 200px;
padding: 0 6px;
}

.search-box:hover > .search-btn{
	background: white;
	color: black;
}

.search-btn{
	color: #54a0ff;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-btn > i{
	color: white;
	font-size: 30px;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
	font-weight: bold;
}
 .home-gallery h1
 {
 	text-align: center;
 	line-height: 1.2;
 	margin-top: 2.6em;
 	margin-bottom: 2.6em;
 	font-weight: bold;
 }

.logo
{
	position: absolute;
	top: 5%;
	left: 48%;
	color: #54a0ff;
	font-size: 50px;
}

ul
{
	list-style: none;
}

.icons a
{
	position: fixed;
	display: block;
	width: 0px;
	text-decoration: none;
	
}

.icons li img
{
	position: fixed;
	top: 40%;

	background: #2f3640;
	height: 300px;
	width: 350px;
	border-radius: 30px;
	padding: 5px;
	border-radius: 10px;
}

.icons span
{
	display: none;
}

.icons:hover span
{
	background: #273c75;
	display: block;
	width: 320px;
	padding: 10px 10px;
	border: 10px solid #273c75;
	border-radius: 10px;
	color: #fff;

}

.icons 